[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
stripe = "*"
ipython = "*"
python-decouple = "*"
django-livereload-server = "*"
pillow = "*"
faker = "*"
django-widgets-improved = "*"
django-crispy-forms = "*"
events = {editable = true, file = "git://github.com/bergantine/django-events.git"}

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
