{% extends "base.html" %} {% load static %} 
{% block title %} {{ dog_detail.name }} {% endblock %} 
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/contact.min.css' %}"> 
{% endblock %} 

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="page-header-title">
                <h1 class="title" id="title">Get in Touch</h1>
                <p class="text-lg">Whether you are looking for more information about one of our pups, wanting to
                    volunteer, or thinking about adding a new little member to your family. We are here to help.
                </p>
            </div>
            <div class="card mt-6">
                <div class="card-header card-header-rose">
                    <h3 class="card-title">
                       Give us a Call or Email
                    </h3>
                </div>
                <div class="card-body">
                    <p class="text-lg">
                        <a href="tel:765-742-2200" class="text-dark">
                            <i class="fas fa-phone-square mr-2"></i> 765-742-2200</a>
                    </p>
                    <p class="text-lg">
                        <a href="mailto:nataliessecondchance@gmail.com" class="text-dark">
                            <i class="fas fa-paper-plane mr-2"></i>nataliessecondchance@gmail.com</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock page_header %} 

{% block main %}
{% endblock %}