{% extends "base.html" %}
{% load static %}

{% block title %}
    Dogs
{% endblock  %}
    

{% block stylesheets %}
<!-- Index CSS -->
<link rel="stylesheet" href="{% static 'css/dogs.min.css' %}">
{% endblock  %}


{% block page_header_title %}
Our Dogs
{% endblock  %}

{% block header_buttons %}
{% if user.is_authenticated %}
<a href="{% url 'dogs:create' %}" class="btn btn-info btn-round btn-sm">Add Dog</a>
{% endif %}  
{% endblock header_buttons %}
    
    

{% block main %}
<div class="main main-raised">
    <div class="container"> 
   
        <!--Adoptables-->
        <div id="adoptables" class="section pt-4">
            {% include "includes/display_dogs.html" %}
        </div>  
    </div>
</div>
{% endblock  %}
    