{% extends "base.html" %} 
{% load static %} 
{% block title %} {{ dog.name }} {% endblock %} 
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/dog_detail.min.css' %}" type="text/css">

{% endblock %}

{% block navigation %}
{% include "includes/non_index_navbar.html" %}
{% endblock navigation %}

{% block page_header %}
<div class="page-header header-filter"> 
<div class="container pb-0 mb-0">
    <div class="row align-items-center justify-content-right">
        <div class="col-md-6 left">
            <div class="card">
                <div class="text-center d-flex align-items-center justify-content-center card-header card-header-{%if dog.sex == 'M'%}info{% else %}rose{%endif%}">
                    <h1 class="title my-0 text-center d-inline" id="title">
                        {{ dog.name }}              
                    </h1>
                    {% if user.is_authenticated %}<a href="{% url 'dogs:update' pk=dog.pk %}"class="ml-3 mt-3 d-inline btn btn-secondary text-dark btn-sm">Edit</a>{% endif %}
                </div>
                <img  class="card-img-top img-fluid" style="object-fit:scale-down" src="{{ dog.image.url }}" alt="No image for {{ dog.name }}">
                <div class="card-body">
                    <h3 class=" text-dark mt-0">{{ dog.breed }}: {{ dog.age }} year{{ dog.age|pluralize:"s" }} old</h3>
                </div>
            </div>
        </div>
        <div class="col-md-6 mx-auto right">
            <h2 class="title text-center">
                {{ dog.name }}'s Story
            </h2>
                <p class="text-lg">
                    {{ dog.description }}
                </p>

        </div>
    </div>
</div>
</div>
{% endblock page_header %} 