html{font-size: calc(.1vw + .85em);}

.page-header {
    height: 60vh;
    background-image: url('../img/puppies.jpg');
    background-position: 60% 50%;
    align-items: start;
    .container{
        margin-top: 10em;
    }

    .card {
        margin-top:60px;
        .card-header{
            font-size: 1rem;
        }
    }


}

.hours, .location {
    margin-top: 50px;
}

th, td{
    text-align: left;
}

td {
    padding-left:1em;
}
