<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="{% url 'home'%}">
                Natalie's Second Chance
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">


                <li class="nav-item">
                    <a href="#adoptables" class="nav-link main-nav-link" rel="tooltip" data-placement="bottom"
                        data-original-title="Adopt a new friend">
                        <i class="fas fa-paw fa-lg"></i> Adoption
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'events' %}" class="nav-link main-nav-link" rel="tooltip" data-placement="bottom"
                        data-original-title="Upcoming Events">
                        <i class="fas fa-bullhorn fa-lg"></i> Events
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link main-nav-link" rel="tooltip" data-placement="bottom"
                        data-original-title="Contact us">
                        <i class="fas fa-tty fa-lg"></i> Contact
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link main-nav-link" rel="tooltip" data-placement="bottom"
                        data-original-title="Help a dog out yourself">
                        <i class="fas fa-hand-holding-heart fa-lg"></i> Donate / Volunteer
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#outreach" class="nav-link main-nav-link" rel="tooltip" data-placement="bottom"
                        data-original-title="Ways we give back">
                        <i class="fas fa-heart fa-lg"></i> Outreach
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/NataliesSecondChance/"
                        target="_blank" data-original-title="Reach out on Facebook">
                        <i class="fab fa-facebook fa-lg"></i>
                        <div class="ripple-container"></div>
                    </a>
                    </a>
                </li>
                {% block nav-items %}
                {% endblock %}
            </ul>
        </div>
    </div>
</nav>